header {height: auto;width: 90%;margin: 15px auto;}
logo {width: 25%; height: auto;float: left;}
logo img {width: 100%; height: auto;}
footer {text-align:left;width:100%;margin-top: 10px;}
#body {font-family: 'Quicksand';margin: 0px;}
.error {color: orange;}
.message {color: green;}

