body {
font-family: 'Quicksand', sans-serif;
margin: 0px;
}

/*header*/
.header {
padding: 20px;
text-align: center;
}

.logo {
width: 25%; 
height: auto;
float: left;
}

.logo img {
width: 100%; 
height: auto;
}

.top-menu {
float: right;
text-align: right;
font-size: 1.2em;

padding: 0px;
}

.top-menu ul {
list-style: none;
text-align: right;
margin: 0px;
padding: 1.5em 0px;
}

.top-menu li {
display: inline;
margin: 0px 5px;
text-decoration: none;
}

.top-menu li a {
display: inline;
margin: 0px 5px;
text-decoration: none;
color: #000000;
}

.top-menu li a:hover {
text-decoration: none;
color: #F15A29;
}

@media screen and (max-width:700px){
  .top-menu {
font-size: 1em;
}
.top-menu ul {
padding: 0.5em 0px;
}
}

/*header*/

/*footer*/
.footer {
padding: 20px;
text-align: center;
}

.logo {
width: 25%; 
height: auto;
float: left;
}

.logo img {
width: 100%; 
height: auto;
}

.bottom-menu {
float: right;
text-align: right;
font-size: 1.5em;
padding: 0px;
}

.bottom-menu ul {
list-style: none;
text-align: right;
margin: 0px;
padding: 1.5em 0px;
}

.bottom-menu li {
display: inline;
margin: 0px 5px;
text-decoration: none;
}

.bottom-menu li a {
display: inline;
margin: 0px 5px;
text-decoration: none;
color: #000000;
}

.bottom-menu li a:hover {
text-decoration: none;
color: #F15A29;
}

@media screen and (max-width:700px){
  .bottom-menu {
font-size: 1em;
}
.bottom-menu ul {
padding: 0.5em 0px;
}
}

/*footer*/


/*Welcome section*/

.welcome {
height: auto;
width: 80%;
margin: 30px auto;
text-align: center;
}

.welcome-text {
height: auto;
margin: 30px auto;
}

.welcome-text h1 {
margin: 25px 0px 20px 0px;
padding: 0px;
font-size: 40px;
}

.welcome-text h2 {
margin: 0px;
padding: 0px;
font-size: 20px;
}

.welcome-image {
width: 35%; 
margin: 0px auto;
height: auto;
}

.welcome-image img {
width: 100%; 
height: auto;
}


/*Welcome section*/

.clear {clear:both}

/*Sign_in*/

.sign_in {
height: auto;
width: 80%;
margin: 30px auto;
text-align: center;
}

.sign_in-text {
height: auto;
margin: 30px auto;
}

.sign_in-text h1 {
margin: 25px 0px 20px 0px;
padding: 0px;
font-size: 40px;
}

.sign_in-text h2 {
padding: 0px;
font-size: 20px;
}

.sign_in-form {
width: 35%; 
height: auto;
margin: 50px auto 100px;
}

.sign_in-form form {
width: 90%; 
height: auto;
margin: 0px auto;
}

/*Sign_in*/
.clear {clear:both}



/*Search*/

.search {
height: auto;
width: 80%;
margin: 30px auto;
text-align: center;
}

.search-text {
height: auto;
margin: 0px auto;
}

.search-text h1 {
margin: 25px 0px 20px 0px;
padding: 0px;
font-size: 40px;
}

.search-text h2 {
margin: 0px;
padding: 0px;
font-size: 20px;
}

.search-form {
width: 35%; 
height: auto;
margin: 50px auto 100px;
}

.search-form form {
width: 90%; 
height: auto;
}

/*Search*/
.clear {clear:both}


/*View collection Section*/

.view_coll {
height: auto;
width: 80%;
margin: 30px auto;
text-align: center;
}

.view_coll-text {
margin: 0px auto;
height: auto;

}

.view_coll-text h1 {
margin: 25px 0px 20px 0px;
padding: 0px;
font-size: 40px;
}

.view_coll-text h2 {
margin: 0px;
padding: 0px;
font-size: 20px;
}

.view_coll-form {
width: 35%; 
height: auto;
margin: 50px auto 100px;
}

.view_coll-form form {
width: 90%; 
height: auto;
}

/*View collection Section*/


.clear {clear:both}

/*thanks*/

.thanks {
height: auto;
width: 80%;
margin: 30px auto;
text-align: center;
}

.thanks-text {

height: auto;

}

.thanks-text h1 {
margin: 25px 0px 20px 0px;
padding: 0px;
font-size: 40px;
}

.thanks-text h2 {
margin: 0px;
padding: 0px;
font-size: 20px;
}

.thanks-image {
width: 35%; 
height: auto;
margin: 50px auto 100px;
}

.thanks-image img {
width: 70%; 
height: auto;
}

/*thanks*/
.clear {clear:both}
